{{ define "main" }}

  {{ partial "page-title.html" . }}

  <!-- Contact info -->
  <section class="section">
    <div class="container">
      <div class="row justify-content-around">
        <div class="col-lg-12 text-center">
          <h3 class="section-title">I don't bite, but I do drink coffee!</h3>
        </div>
        {{ range .Site.Data.contact.socialLinks }}
        <div class="col-lg-3 col-md-4 text-center hover-shadow pt-3">
          <i class="{{.icon }} icon mb-5 d-inline-block"></i>
          <h4 class="mb-4">{{ .title }}</h4>
          <p>{{ .content | markdownify }}</p>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
<!-- ./Contact info -->

{{ end }}